
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Navbar Styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 20px 30px;
  }
  
  .navbar .logo {
    color: #15ff00;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #0a0ef0;
  }
  
  /* Home Section */
  .home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: #eec147;
    color: rgba(255, 255, 255, 0.993);
  }
  
  .home-content {
    width: 60%;
  }
  
  .home-content h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .home-image {
    width: 35%;
    text-align: center;
  }
  
  .home-image img {
    height: 350px;
    width: 205px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* About Section */
  #about {
    padding: 40px;
    background-color: #8b4eec;
    color: #333333;
  }
  
  #about h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 18px;
    line-height: 1.8;
  }
  
  /* Skills Section */
  #skills {
    padding: 40px;
    background-color: rgb(25, 209, 154);
  }
  
  #skills h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  #skills ul {
    list-style: none;
  }
  
  #skills ul li {
    font-size: 18px;
    margin: 5px 0;
  }
  
  /* Projects Section */
  #projects {
    padding: 40px;
    background-color: #eb63c9;
    color: #333333;
  }
  
  #projects h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  #projects p {
    font-size: 18px;
    line-height: 1.8;
  }